* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-color: rgb(5, 184, 190);
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.ask {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
}

.gifcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#urvishPatel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: white;
}

.urvishPatel>a {
    text-decoration: none;
}

.urvishPatel>a>span {
    font-weight: bolder;
}