* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Change to 100vh to cover the full viewport height */
    background-color: #f3aac8;
    width: 100vw;
    overflow: hidden;
    /* Prevent horizontal scrollbar due to margin */
}

#noButton {
    position: absolute;
    left: 50%;
    /* Center horizontally */
    top: 50%;
    /* Center vertically */
    transform: translate(-50%, -50%);
    /* Center the button precisely */
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    right: 50%;
    /* Center horizontally */
    top: 50%;
    /* Center vertically */
    transform: translate(50%, -50%);
    /* Center the button precisely */
}

.ask {
    font-family: 'nunito';
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffb6c1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

.gifcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#urvishPatel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    /* font-weight: bolder; */
    color: white;
}

.urvishPatel>span {
    font-weight: bolder;
}